@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Mr+De+Haviland&family=Petit+Formal+Script&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

strong{
    color: rgb(255, 120, 96);
}

body::-webkit-scrollbar{
    display: none;
}


.titulo{
    max-width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Petit Formal Script', cursive;
    border-bottom: 1px solid rgb(239, 239, 239);
    padding: 2.5rem 0 1rem 0;
    position: relative;
}

.titulo h1{
    font-size: 40px;
    font-weight: 400;
    color: rgb(29, 29, 29);

}

.titulo span {

    display: flex;
    align-items: center;
}
.titulo span img{
    width: 100px;
}
span::before{
    content: "";
    width: 50px;
    height: 1px;
    background: rgb(239, 239, 239);
    margin-right: 10px;
}
span::after{
    content: "";
    width: 50px;
    height: 1px;
    background: rgb(239, 239, 239);
    margin-left: 10px;
}

.navbar{
    width: 100%;
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
}
li a{
    margin: 0 6px;
    color: rgb(19, 19, 19);
    cursor: pointer;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 400;
    transition: 0.9s;
}
li a:hover{
    color: rgb(233, 0, 89);
    transition: 0.5s;
}

.container{
    max-width: 100%;
}

.slide{
    width: 100%;
    height: 120vh;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  
}

.filtro{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(78, 0, 0, 0.966);
    z-index: 1;
    transition: 0.56s
}
.filtro.active{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(189, 1, 1, 0.493);
    z-index: 1;
    transition: 0.56s
}


.imgSlide{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/paralax/imgslide2.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    top: 0;
}

.imgSlide2.active{
    position: absolute;
    width: 100%;
    height: 105%;
    background-image: url(../images/paralax/imgslide2.jpeg);
    background-attachment: scroll;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    top: -1px;
    transition: 0.2s;
}

.descricao, .contador{
    position: relative;
    z-index: 1;
    color: #fafafa;
    display: flex;
    align-items: center;
}


.descricao{
  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao h2{
    font-size: 70px;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 400;
    margin-bottom: 2rem;
    
}

.descricao p{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 300;
}

.descricao p::before, .descricao p::after{
    content: "";
    width: 50px;
    height: 1px;
    background: rgb(239, 239, 239);
    margin: 0 10px;
}

h3{
    margin-top: 20px;
    font-family: 'Lato';
    font-weight: 300;
}
.contador{
    margin: 1.5rem 0 0 0;
}

.dias, .horas, .minutos, .segundos{
    width: 100px;
    height: 120px;
    margin: 10px;
    border-radius: 5px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: #333;
    -webkit-box-shadow: 0px -1px 49px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 49px -18px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 49px -18px rgba(0,0,0,0.75);

}

.dias img{
    position: absolute;
    width: 150px;
    top: -50px;
    left: -40px;
}
.segundos img{
    transform: rotate(180deg);
    position: absolute;
    width: 150px;
    bottom: -50px;
    right: -40px;
    z-index: 2;
}

.resposta{font-family: 'Lato';
    font-weight: 300;
    color: rgb(121, 121, 121);
    font-family: 'Lato';
    font-weight: 400;
    font-size: 30px;
}

.tempo{
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 300;
    color: rgb(121, 121, 121);
}

.convite-container{
    width: 100%;
    background: rgba(240, 240, 240, 0.959);
    height: 105vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #0000000e;
    overflow: hidden;
}

.convite-card{
    width: 30%;
    height: 80%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e2e29a;
    -webkit-box-shadow: 0px -1px 49px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 49px -18px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 49px -18px rgba(0,0,0,0.75);
    position: relative;
    background: #fafafa;
}

.convite-card-interno{
    width: 90%;
    height: 90%;
    border: 2px solid #ff8800c0;
    border-radius: 2px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;        
    flex-direction: column;
    
}

img.topoConvite{
    position: absolute;
    transform: rotate(120deg);
    left: -20px;
    top: -75px;
    width: 200px;
}


img.baixoConvite{
    position: absolute;
    transform: rotate(-90deg);
    right: -40px;
    bottom: -90px;
    width: 200px;
}

.titulo-convite{
    text-align: center;
    padding: 1rem 0 ;
}

.titulo-convite h2{
    font-size:40px;
    font-family: 'Lato';
    font-weight: 300;
    color: #333;
}

.titulo-convite h5{
    font-size:20px;
    font-family: 'Lato';
    font-weight: 300;
    color: #333;
}

.noivos{
    width: 100%;
    text-align: center;
}

.noivos h2{
    font-family: 'Petit Formal Script', cursive;
    font-size: 30px;
    color: #ff8800ea;
}

.endereco{
    text-align: center;
    font-size:20px;
    font-family: 'Lato';
    font-weight: 300;
    color: #333;
}

.sobre-noivos{
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-sobre, .titulo-nossa-historia{
    text-align: center;
    padding: 2rem;
}

.titulo-sobre img{
    width: 200px;
}

.titulo-sobre h2, .titulo-nossa-historia h2, .titulo-galeria h2{
    font-size:40px;
    font-family: 'Lato';
    font-weight: 400;
    color: rgba(20, 20, 20, 0.897);
    text-align: center;
}

.card-noivos-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 2rem 7rem 0 7rem;
    position: relative;
}

.card-noivos-moldura{
    width: 350px;
    height: 550px;
    padding: 1rem;
    border: 8px solid transparent;
    border-image: linear-gradient(to right, rgba(51, 0, 0, 0.932) , rgb(214, 97, 1), rgb(58, 15, 4) , rgb(58, 15, 4), rgb(231, 106, 3));
    border-image-slice: 1;
    -webkit-box-shadow: 0px -1px 49px -18px rgb(0, 0, 0);
    -moz-box-shadow: 0px -1px 49px -18px rgb(0, 0, 0);
    box-shadow: 0px -1px 49px -18px rgb(0, 0, 0);
}

.card-noivos{
    width: 100%;
    height: 100%;
    background: rgba(211, 211, 211, 0.795);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
}

.img-noiva {
    width: 100%;
    height: 60%;
    background: black;
    background-image: url(../images/perfil/gabrielapeb.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
.img-noiva:hover{
    width: 100%;
    height: 60%;
    background: black;
    background-image: url(../images/perfil/gabriela.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.8s;
    cursor: pointer;
}

.img-noivo{
    width: 100%;
    height: 60%;
    background: black;
    background-image: url(../images/perfil/fabiopeb.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
.img-noivo:hover{
    width: 100%;
    height: 60%;
    background: black;
    background-image: url(../images/perfil/fabio.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.8s;
    cursor: pointer;
}
  
     

.card-noivos-container img{
    position: absolute;
    width: 500px;
    z-index: 2;

}

.nome-noivos{
    margin: 1rem 0;
    font-family: 'Lato';
    color: rgb(34, 34, 34);
}

.descricao-noivos p{
    font-family: 'Lato';
    text-align: justify;
    font-weight: 300;
}

.nossa-historia{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nossa-historia::before{
   content: "";
   width: 380px;
   height: 500px;
   background: black;
   position: absolute;
   top: 70%;
   left: -10%;
   background: url(../images/flores/flower-pattern-1.png);
   background-attachment: scroll;
   background-repeat: no-repeat;
   background-position: left;
}
.nossa-historia::after{
    content: "";
   width: 280px;
   height: 500px;
   background: black;
   position: absolute;
   top: 50%;
   right: 0%;
   background: url(../images/flores/flower-pattern-2.png);
   background-attachment: scroll;
   background-repeat: no-repeat;
   background-position: left;
 }

.card-nossa-historia{
    width: 60%;
    height: 80%;
    border-radius: 10px;
    padding:  2rem 5%;
    display: flex;
    align-items: center;
    flex-direction: column;

    -webkit-box-shadow: 0px -1px 49px -18px rgb(0, 0, 0);
    -moz-box-shadow: 0px -1px 49px -18px rgb(0, 0, 0);
    box-shadow: 0px -1px 49px -18px rgba(0, 0, 0, 0.459);
}

.encontro{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
}

.descricao-encontro::-webkit-scrollbar {
    width: 5px; 
    padding: 5px;            /* width of the entire scrollbar */
  }

.descricao-encontro::-webkit-scrollbar-track {
    background:transparent;        /* color of the tracking area */
  }

.descricao-encontro::-webkit-scrollbar-thumb {
    
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(170, 170, 170);  /* creates padding around scroll thumb */
  }

.descricao-encontro:nth-child(even){
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 45%; 
    height: 70%;  
    color: #333;
    font-family: "Lato"; 
}

.descricao-encontro:nth-child(odd){
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 45%; 
    height: 70%;    
    text-align: right;
    color: #333;
    font-family: "Lato";
}

.descricao-encontro h2{
    font-family: 'Petit Formal Script', cursive;
    font-weight: 100;
    color: #222;
    font-size: 25px;
}
.data{
    color: rgb(141, 141, 141);
    font-weight: 400;
}

.desc{
    font-weight: 300;
}

.encontro img:nth-child(even){
    padding-right: 100px;
}

.encontro img:nth-child(odd){
    padding-left: 100px;
}

.galeria{
    width: 100%;
    display: flex;
    padding: 4rem;
    align-items:  center;
    flex-direction: column;
}

footer{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Lato';
    color: rgb(105, 105, 105);

}